.shiki {
	background-color: transparent !important;
}

[data-theme='dark'] {
	.shiki {
		color: var(--shiki-dark) !important;
	}

	.shiki span,
	.__editor_code,
	.__editor_code span {
		color: var(--shiki-dark) !important;
	}
}
