._local {
	:global {
		.faq_item {
			padding: 0 16px;

			&:last-child {
				border-bottom: none;
			}

			&[open] {
				.summary {
					.icon {
						rotate: 90deg;
					}
				}
			}

			.summary {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 16px 0;
				cursor: pointer;
				list-style: none;
				gap: 18px;

				&::-webkit-details-marker {
					display: none;
				}

				.question {
					font-size: 1.2em;
					font-weight: 500;
					color: rgba(var(--color_text_rgb), 0.8);
				}

				.icon {
					flex: none;
					color: rgba(var(--color_text_rgb), 0.66);
					font-size: 14px;
					transition: rotate ease 0.18s;
				}
			}

			.answer {
				padding: 0 0 16px;
				margin: 0;
				color: var(--color_text_sub);
				font-size: 15px;
				line-height: 1.75;
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		:global {
			.faq_item {
				padding: 0 18px;

				.summary {
					padding: 12px 0;

					.question {
						font-size: 1em;
						line-height: 1.5;
					}
				}

				.answer {
					padding-bottom: 18px;
					font-size: 14px;
				}
			}
		}
	}
}
