._local {
	:global {
		.scroll_wrap {
			--width_mac_light: 0px;
			--width_btn_panel: 0px;
			--width_win_actions: 0px;

			&.is_mac_electron {
				--width_mac_light: 72px;
			}

			&.panel_collapsed {
				--width_btn_panel: var(--spacing) * 13;
			}

			&.column_is_last {
				--width_win_actions: 108px;
			}
		}
	}
}
