.content_wrap {
	width: calc(100% - var(--dirtree_width));
}

.content {
	max-width: 784px;
	padding: 0 36px 30px 36px;
	margin: 0 auto;
}

.toc {
	width: var(--dirtree_width);
	padding-top: 30px;
	padding-right: 24px;
	padding-bottom: 30px;
}

.drawer {
	display: none;
}

@media (max-width: 720px) {
	.content {
		width: 100%;
		max-width: 100%;
		padding: 0 18px 30px 18px;
	}

	.toc {
		display: none;
	}

	.drawer {
		display: block;
		background-color: var(--color_bg);
	}
}
