._local {
	overflow-y: scroll;

	&.as_content {
		overflow-y: inherit;

		:global {
			.toc_list {
				gap: 0;
			}

			.toc_link {
				position: relative;
				padding-top: 2px;
				padding-bottom: 6px;
				text-decoration: none;

				&::before {
					position: absolute;
					top: 10px;
					left: 0;
					width: 4px;
					height: 4px;
					border-radius: 999px;
					background-color: var(--color_text_sublight);
					content: '';
				}

				&:hover {
					text-decoration: underline;
					text-decoration-color: var(--color_contrast);
				}

				span {
					color: var(--color_text_sublight);
				}

				&.active {
					span {
						color: var(--color_text);
					}
				}
			}
		}
	}

	:global {
		.header_wrap {
			z-index: 1;
			top: 0;
			height: 28px;
			line-height: 1;
			margin-bottom: 12px;
			margin-left: -2px;
			background-color: var(--color_bg);
			font-size: 16px;

			.title {
				margin-left: 8px;
				color: var(--color_text_grey);
				font-size: 13px;
			}
		}

		.toc_list {
			gap: 2px;
		}

		.toc_link {
			position: relative;
			line-height: 21px;
			padding-top: 0;
			padding-bottom: 0;
			text-decoration: none;

			&::before {
				position: absolute;
				top: 9px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 999px;
				background-color: var(--color_text_sublight);
				content: '';
			}

			&:hover {
				text-decoration: underline;
				text-decoration-color: var(--color_contrast);
			}

			span[data-level='1'] {
				display: none;
			}

			&.active {
				span {
					color: var(--color_text);
				}
			}

			span {
				color: var(--color_text_sublight);
				transition: color ease 0.3s;
				font-size: 13px;
			}
		}
	}
}
