._local {
	overflow-y: scroll;

	&.as_content {
		overflow-y: inherit;

		:global {
			.toc_list {
				gap: 0;
				margin: 0;
				padding-inline-start: 0;
			}

			.toc_link {
				position: relative;
				padding-top: 2px;
				padding-bottom: 6px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
					text-decoration-color: var(--color_contrast);
				}

				span {
					color: var(--color_text_sublight);
				}

				&.active {
					span {
						color: var(--color_text);
					}
				}
			}
		}
	}

	:global {
		.header_wrap {
			z-index: 1;
			top: 0;
			height: 28px;
			line-height: 1;
			margin-bottom: 12px;
			margin-left: -2px;
			background-color: var(--color_bg);
			font-size: 16px;

			.title {
				margin-left: 8px;
				color: var(--color_text_grey);
				font-size: 13px;
			}
		}

		.toc_list {
			list-style: none !important;
			margin: 0;
			padding-inline-start: 0;
		}

		.toc_link {
			position: relative;
			line-height: 21px;
			padding-top: 0;
			padding-bottom: 0;
			text-decoration: none;
			color: var(--color_text_grey);

			&:hover {
				text-decoration: underline;
				text-decoration-color: var(--color_contrast);
			}

			span[data-level='1'] {
				display: none;
			}

			&.active {
				span {
					color: var(--color_text);
				}

				&::before {
					content: '';
					position: absolute;
					width: 2px;
					height: 100%;
					left: -2px;
					background-color: rgba(var(--color_text_rgb), 30);
				}
			}

			span {
				color: var(--color_text_sublight);
				transition: color ease 0.3s;
				font-size: 13px;
			}

			code {
				padding: 1px 4px;
				margin: 0 2px;
				border-radius: 4px;
				color: var(--color_text);
				background: var(--color_bg_2);
				font-family: var(--font_mono);
				font-size: 0.9em;
			}
		}
	}
}
