# dependencies
node_modules
npm-debug.log*
*-lock.json

# production
**/dist
.next
.open-next
.vercel
.wrangler
.turbo
.refs
.vinext
zip
.pnpm-store
tsconfig.tsbuildinfo

# misc
.DS_Store
.idea
.svn
.swc
.test
.clinic
@mf-types

# temp
**/.tmp
**/.prompts

# polywise
.polywise

# electron
release
src/main/bundle.js
src/main/bundle.js.map

# opencode
.opencode/plans

# conductor
.conductor