._local {
	padding-right: 72px;
	padding-bottom: 60px;
	padding-left: 72px;

	:global {
		.price_items {
			overflow: hidden;
			border: var(--border);
			border-radius: var(--radius_large);

			.price_item {
				width: calc(100% / 3);
				transition: background-color ease 0.3s;

				&:hover {
					background-color: var(--color_bg_1);
				}

				&:nth-of-type(2) {
					border-left: var(--border);
				}

				&.pro {
					width: calc((100% / 3) * 2);

					.header_wrap {
						opacity: 0.81;
					}

					.features {
						color: var(--color_text_sub);

						.feature {
							.icon_check {
								color: var(--color_text_sub);
							}
						}
					}
				}

				.header_wrap {
					padding: 12px 24px;
					border-bottom: var(--border);
					opacity: 0.6;

					.type {
						margin: 0;
						font-weight: 400;
					}

					.price {
						.value {
							font-size: 18px;
						}
					}
				}

				.features {
					padding: 18px 24px;
					color: var(--color_text_grey);
					letter-spacing: 0.3px;
					font-size: 13px;

					.feature {
						margin-bottom: 16px;

						&:last-child {
							margin-bottom: 8px;
						}

						.icon_check {
							margin-right: 12px;
							color: var(--color_text_light);
							font-size: 10px;
						}

						.icon_feature {
							margin-right: 10px;
							margin-left: -1px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		padding: 0;
		padding-bottom: 36px;

		:global {
			.price_items {
				flex-direction: column;

				.price_item {
					width: 100% !important;

					&:first-child {
						border-bottom: var(--border);
					}

					&:nth-of-type(2) {
						border-left: none;
					}

					.header_wrap {
						padding: 12px;
					}
				}
			}
		}
	}
}
