._local {
	padding-top: 120px;
	padding-bottom: 120px;

	:global {
		.gtd_items {
			gap: 18px;

			.gtd_item {
				overflow: hidden;
				width: calc(50% - 9px);

				.image {
					max-width: 132px;
					border: 1px solid var(--color_border_light);
					border-top-left-radius: var(--radius);
					border-bottom-left-radius: var(--radius);
					object-fit: cover;
				}

				.desc_wrap {
					width: calc(100% - 132px);
					padding: 24px;
					border: var(--border);
					border-left: none;
					border-top-right-radius: var(--radius);
					border-bottom-right-radius: var(--radius);
					background-color: var(--color_bg_1);

					.title {
						line-height: 1.5;
						margin: 0;
						margin-bottom: 15px;
						font-size: 1.2em;
						font-weight: 500;
					}

					.desc {
						color: var(--color_text_sublight);
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		padding-top: 48px;
		padding-bottom: 0;

		:global {
			.gtd_items {
				.gtd_item {
					width: 100%;
				}
			}
		}
	}
}
