._local {
	min-height: calc(100vh - 80px);

	:global {
		.form {
			width: 270px;
			margin-top: -72px;

			h1 {
				line-height: 1;
				margin-top: 0;
				margin-bottom: 24px;
				text-align: center;
				font-weight: 500;
			}

			.input_wrap {
				overflow: hidden;
				border-radius: var(--radius_large);
			}

			.field {
				display: flex;
				align-items: center;
				height: 42px;
				margin-bottom: 0;
				padding: 0 15px;
				background-color: transparent;

				&:first-child {
					border-top-left-radius: var(--radius_large);
					border-top-right-radius: var(--radius_large);
				}

				&:last-child {
					border-bottom-right-radius: var(--radius_large);
					border-bottom-left-radius: var(--radius_large);
				}

				.icon {
					color: var(--color_text_grey);
				}
			}

			.input {
				width: 100%;
				padding: 0 12px;
				border: none;
				outline: none;
				color: var(--color_text);
				background: transparent;
				text-align: center;
			}

			.btn_submit {
				height: 36px;
				margin-top: 18px;
				border: none;
				border-radius: var(--radius);
				color: var(--color_bg);
				background-color: rgba(var(--color_text_rgb), 0.9);
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		min-height: unset;
		padding-top: 30px !important;
		padding-right: 48px !important;
		padding-bottom: 60px !important;
		padding-left: 48px !important;

		:global {
			.form {
				width: 100%;
				margin-top: unset;

				.btn_submit {
					margin-top: 24px;
				}
			}
		}
	}
}
