._local {
	z-index: 10;
	overflow: hidden;
	height: 450px;
	margin: 0px auto;
	margin-top: -210px;
	user-select: none;
	pointer-events: none;
	mask-image: radial-gradient(circle, var(--color_text), transparent 80%);

	&::before {
		position: absolute;
		opacity: 0.4;
		background: radial-gradient(circle at bottom center, rgba(var(--color_text_rgb), 0.12), transparent 70%);
		content: '';
		inset: 0px;
	}

	&::after {
		position: absolute;
		z-index: 11;
		top: 50%;
		left: -50%;
		width: 200%;
		border-top: 1px solid rgba(var(--color_text_rgb), 0.21);
		border-radius: 50%;
		background: linear-gradient(to bottom, rgba(var(--color_bg_rgb), 0.81), var(--color_bg));
		content: '';
		aspect-ratio: 1 / 0.7;
	}

	:global {
		.star_light {
			z-index: 10;
			width: 872px;
			mask-image: radial-gradient(circle at center bottom, var(--color_bg), transparent);
		}
	}
}

@media (max-width: 720px) {
	._local {
		:global {
		}
	}
}
