._local {
	padding-top: 4px;

	:global {
		.prewview_wrap {
			min-height: 60px;
			padding: 24px;
			border: 1px dashed var(--color_border_light);
			border-radius: var(--radius);

			&:hover {
				border-color: var(--color_text);
			}
		}

		.preview {
			color: var(--color_text_light);
			font-size: 18px;
		}
	}
}
