._local {
	padding-top: 48px;

	:global {
		.image_mask {
			z-index: 7;
			top: -420px;
			left: calc((var(--limited_width) - 100vw - (var(--limited_padding) * 2)) / 2);
			width: 100vw;
			height: 960px;
			background: linear-gradient(
				to bottom,
				transparent,
				rgba(var(--color_bg_rgb), 1) 36%,
				rgba(var(--color_bg_rgb), 1) 45%,
				transparent
			);
		}

		.customers_wrap {
			z-index: 10;

			.img_customer_wrap {
				width: calc(100% / 6);
				height: 120px;
				padding: 0 36px;

				&:nth-of-type(2) {
					padding: 0 60px;
				}

				&:nth-of-type(5) {
					padding: 0 57px;
				}

				&:nth-of-type(6) {
					padding: 0 57px;
				}

				.img_customer {
					opacity: 0.78;
					object-fit: contain;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	._local {
		margin-top: -210px;

		:global {
			.image_mask {
				display: none;
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		padding-top: 0;
		margin-top: unset;

		:global {
			.customers_wrap {
				z-index: 10;
				border-right: none;
				border-bottom: none;

				.img_customer_wrap {
					width: calc(100% / 3);
					height: 120px;
					padding: 0 30px !important;

					&:nth-of-type(2) {
						padding: 0 36px !important;
					}
				}
			}
		}
	}
}
