._local {
	:global {
		.header_wrap {
			line-height: 1;
			margin-top: 60px;
			letter-spacing: 0.6px;

			.toptext {
				margin-bottom: 18px;
				color: transparent;
				background-clip: text;
				font-size: 16px;
				font-weight: 500;
			}

			.title {
				margin: 0;
				margin-bottom: 18px;
				font-size: 3em;
			}

			.desc {
				margin-top: 0;
				margin-bottom: 36px;
				font-size: 18px !important;
			}

			.btn_download {
				height: 36px;
			}
		}

		.lightline {
			margin: 72px 0;
		}

		.section {
			margin-bottom: 48px;

			h2 {
				margin-top: 0;
				margin-bottom: 15px;
				font-size: 1.8em;
				font-weight: 400;
			}

			.line {
				margin-bottom: 15px;
				color: var(--color_text_grey);
				font-size: 16px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.items_wrap {
			margin-top: 18px;
			gap: 12px;

			&.logos_wrap {
				img {
					max-width: 120px;
				}
			}

			&.icons_wrap {
				img {
					max-width: 72px;
					user-select: none;
				}
			}

			&.colors_wrap {
				font-size: 18px;
			}

			&.font_wrap {
				position: relative;
				height: 240px;
				border-radius: var(--radius_large);
				background-color: var(--color_bg_2);
				font-size: 3em;

				&:hover {
					&::after {
						opacity: 1;
					}
				}

				&::after {
					position: absolute;
					right: 12px;
					bottom: 12px;
					height: 30px;
					line-height: 30px;
					padding: 0 12px;
					border-radius: var(--radius);
					opacity: 0;
					background-color: rgba(var(--color_bg_rgb), 0.6);
					content: 'Download';
					cursor: pointer;
					transition: opacity ease 0.3s;
					font-size: 14px;
				}
			}

			&.logos_wrap,
			&.icons_wrap,
			&.colors_wrap {
				.item_wrap {
					&:hover {
						&::after {
							opacity: 1;
						}
					}

					&::after {
						position: absolute;
						right: 12px;
						bottom: 12px;
						height: 30px;
						line-height: 30px;
						padding: 0 12px;
						border-radius: var(--radius);
						opacity: 0;
						color: var(--color_text);
						background-color: rgba(var(--color_bg_rgb), 0.6);
						content: 'Download';
						cursor: pointer;
						transition: opacity ease 0.3s;
						font-size: 14px;
					}
				}
			}

			&.colors_wrap {
				.item_wrap {
					&::after {
						content: 'Copy';
					}
				}
			}

			.item_wrap {
				position: relative;
				width: calc((100% - 36px) / 4);
				height: 240px;
				border-radius: var(--radius_large);

				&:nth-of-type(1) {
					background-color: var(--color_main);
				}

				&:nth-of-type(3) {
					background-color: var(--color_bg_2);
				}

				&:nth-of-type(2),
				&:nth-of-type(4) {
					background-color: var(--color_text);
				}
			}

			img {
				user-select: none;
				pointer-events: none;
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		:global {
			.items_wrap {
				flex-wrap: wrap;

				.item_wrap {
					width: calc((100% - 12px) / 2);
					height: 180px;
				}
			}
		}
	}
}
