@layer components {
	.btn {
		@apply 
				flex
				items-center justify-center
				gap-1.5
				text-gray
				hover:text-dark hover:bg-active active:bg-click
				clickable
			;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
