body {
	@apply text-std-800;
}

.lucide {
	stroke-width: 1.8px;
}

.is_drag {
	-webkit-app-region: drag;
}

.no_drag {
	-webkit-app-region: no-drag;
}

.pw-splitter {
	.pw-splitter-panel {
		padding: 0 !important;
		scrollbar-width: 0 !important;
	}
}

.icon_button {
	@apply 
				flex
				items-center justify-center
				w-7 h-7
				rounded-full
				text-std-400
				hover:bg-std-100 hover:text-std-black
				clickable
			;

	-webkit-app-region: no-drag;

	svg {
		width: 14px;
		height: 14px;
	}
}
