body {
	@apply text-std-800 bg-std-100;
}

[data-glass='1'] {
	body {
		@apply bg-std-100/15;
	}

	&[data-theme='dark'] {
		body {
			@apply bg-std-100/30;
		}
	}
}

.lucide {
	stroke-width: 1.8px;
}

.is_drag {
	-webkit-app-region: drag;
}

.no_drag {
	-webkit-app-region: no-drag;
}
