:root {
	--trees-border-color-override: var(--color-border-light);
	--trees-border-radius-override: 999px;
	--trees-focus-ring-color-override: var(--color-border-gray);
	--trees-selected-focused-border-color-override: var(--color-border-gray);
}
