@utility clickable {
	@apply cursor-pointer transition-all select-none active:scale-90;
}

@utility clickit {
	@apply cursor-pointer transition-all select-none active:scale-99;
}

@utility scrollbar-hide {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility scrollbar-default {
	scrollbar-width: auto;

	&::-webkit-scrollbar {
		display: block;
	}
}
