:root {
	--font_family:
		'IBMPlexSans', -apple-system, BlinkMacSystemFont, ui-sans-serif, 'Segoe UI', 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font_serif: 'STIXTwoText', Georgia, 'Times New Roman', Times, '宋体', SimSun, 'Songti', serif;
	--font_mono: 'Menlo', 'Consolas', monospace;
	--font_stiff: 'Tektur';
	--font_emoji: 'NotoEmoji';
}
