._local {
	:global {
		.ani-segmented {
			margin-bottom: 16px;

			.ani-segmented-item-label {
				display: flex;
				align-items: center;
				justify-content: center;

				.ani-segmented-item-icon {
					display: flex;
				}
			}
		}

		.src_item {
			.ani-input {
				color: var(--color_text_light);
				background-color: unset;
			}
		}
	}
}
