[data-theme='dark'] {
	._local {
		:global {
			.btn_format {
				&:hover,
				&.active {
					background-color: rgba(var(--color_std_rgb), 0.08);
				}
			}

			.select {
				&.select_btn {
					&:hover,
					&.active,
					&[data-popup-open] {
						background-color: rgba(var(--color_std_rgb), 0.08);
					}
				}
			}

			.d_line {
				background-color: rgba(var(--color_text_rgb), 0.08);
				box-shadow: 0.2px 0 0 rgba(var(--color_bg_rgb), 0.3);
			}
		}
	}

	.dropdown {
		background-color: var(--color_text);

		:global([data-slot='select-item']) {
			color: var(--color_text);

			&[data-highlighted],
			&[data-selected] {
				color: var(--color_text);
				background-color: rgba(var(--color_std_rgb), 0.08) !important;
			}
		}
	}
}

._local {
	border-radius: 30px;
	color: var(--color_bg);
	background-color: rgba(var(--color_text_rgb), 0.8);
	box-shadow: var(--shadow);
	user-select: none;
	font-size: 12px;
	backdrop-filter: blur(18px);

	:global {
		.format_items {
			padding: 4px 2px;
		}

		.btn_format {
			width: 24px;
			height: 24px;
			margin: 0 2px;
			border-radius: 50%;
			font-size: 15px;

			&:hover,
			&.active {
				background-color: rgba(var(--color_std_rgb), 0.15);
			}
		}

		.select {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			margin: 0 2px;
			border: none;
			border-radius: var(--radius_4);
			outline: none;
			color: var(--color_bg);
			cursor: pointer;
			background-color: transparent;
			transition:
				background-color ease 0.12s,
				scale ease 0.12s;

			&.select_btn {
				&:hover,
				&.active,
				&[data-popup-open] {
					background-color: rgba(var(--color_std_rgb), 0.15);
				}

				&:active {
					scale: 0.9;
				}

				> div {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 4px;
				}

				:global([data-slot='select-value']) {
					display: flex;
					align-items: center;
					justify-content: center;
					color: inherit;
					font-size: 15px;
				}

				svg {
					color: inherit;
				}
			}
		}

		.d_line {
			width: 0.4px;
			height: 32px;
			background-color: rgba(var(--color_text_rgb), 1);
			box-shadow: 0.2px 0 0 rgba(var(--color_bg_rgb), 0.3);
		}
	}
}

.dropdown {
	padding: 3px 4px;
	border: none !important;
	border-radius: var(--radius);
	background-color: var(--color_text_sub);
	box-shadow: var(--shadow);

	:global([data-slot='select-item']) {
		width: 24px;
		height: 24px;
		min-height: unset;
		padding: 0 !important;
		border-radius: var(--radius_4);
		color: var(--color_bg);

		&[data-highlighted],
		&[data-selected] {
			color: var(--color_bg);
			background-color: rgba(var(--color_std_rgb), 0.15) !important;
		}

		> span:first-child {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: inherit;
			font-size: 11.1px;
			font-weight: 500;
		}

		> span:last-child {
			display: none;
		}
	}
}
