[data-theme='dark'] {
	--color_std: black;
	--color_std_rgb: 0, 0, 0;
	--color_contrast: white;
	--color_contrast_rgb: 255, 255, 255;
	--color_text: #f7f8f8;
	--color_text_rgb: 247, 248, 248;
	--color_text_sub: rgba(247, 248, 248, 0.72);
	--color_text_sublight: rgba(247, 248, 248, 0.6);
	--color_text_grey: rgba(247, 248, 248, 0.48);
	--color_text_greylight: rgba(247, 248, 248, 0.4);
	--color_text_light: rgba(247, 248, 248, 0.3);
	--color_text_softlight: rgba(247, 248, 248, 0.24);
	--color_text_line: #888;
	--color_bg: #080a0a;
	--color_bg_rgb: 8, 10, 10;
	--color_bg_1: #1c1c1f;
	--color_bg_1_rgb: 28, 28, 31;
	--color_bg_2: #28282c;
	--color_bg_2_rgb: 40, 40, 44;
	--color_border: #23252a;
	--color_border_light: rgba(255, 255, 255, 0.072);
	--color_border_soft: rgba(255, 255, 255, 0.048);
	--shadow: 0 0 48px rgba(var(--color_std_rgb), 0.36);
	--shadow_left: -6px 6px 30px rgba(var(--color_std_rgb), 0.36);
	--shadow_right: 6px 0 30px rgba(var(--color_std_rgb), 0.36);
	--shadow_top: 0 6px 30px rgba(var(--color_std_rgb), 0.36);
	--shadow_card: 0 1.5px 3px rgba(var(--color_std_rgb), 0.24);
	--shadow_btn: 0 0 24px rgba(var(--color_std_rgb), 0.9);
	--wave: rgba(var(--color_text_rgb), 0.3);
}
